<?xml version="1.0" encoding="UTF-8"?>
<!--<configuration scan="true" scanPeriod="30 seconds" >-->
<!--<configuration debug="true">-->
<!--<timestamp key="date" datePattern="yyyyMMdd"/>-->
<!--<property name="MAX_FILE_SIZE" value="30MB"/>-->
<!--<property name="FILE_NAME_FORMAT" value="-%d{yyyy-MM-dd}.%i.log"/>-->
<!--<property name="LOG_PATTERN" value="-%d{HH:mm:ss.SSS} [%thread] %-5level %logger{75} - %msg%n"/>-->
<!--<property name="MAX_HISTORY" value="360"/>-->


<!--<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">-->
<!--<encoder>-->
<!--<pattern>${LOG_PATTERN}</pattern>-->
<!--</encoder>-->
<!--</appender>-->

<!--<appender name="File-Appender" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--<prudent>true</prudent>-->
<!--<append>true</append>-->
<!--<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--<fileNamePattern>%d{yyyy-MM,aux}/%d{dd,aux}/complementary-log-%d{yyyy-MM-dd}.%i.log${FILE_NAME_FORMAT}-->
<!--</fileNamePattern>-->
<!--<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">-->
<!--<maxFileSize>${MAX_FILE_SIZE}</maxFileSize>-->
<!--</timeBasedFileNamingAndTriggeringPolicy>-->
<!--<maxHistory>${MAX_HISTORY}</maxHistory>-->
<!--</rollingPolicy>-->
<!--<encoder>-->
<!--<charset>UTF-8</charset>-->
<!--<pattern>${LOG_PATTERN}</pattern>-->
<!--</encoder>-->
<!--</appender>-->

<!--<logger name="com" level="DEBUG" additivity="false">-->
<!--<appender-ref ref="File-Appender"/>-->
<!--</logger>-->


<configuration scan="true" scanPeriod="10 seconds">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_PATH}/health-care-service.log</file>
        <encoder>
            <pattern>%date %level [%thread] %logger{10} %msg%n</pattern>
        </encoder>
    </appender>

    <!-- PROFILER configuration -->
    <turboFilter class="ch.qos.logback.classic.turbo.MarkerFilter">
        <Marker>PROFILER</Marker>
        <OnMatch>ACCEPT</OnMatch>
        <!--  <OnMatch>DENY</OnMatch> -->
    </turboFilter>

    <logger name="org.eclipse.jetty.util.log" level="info"/>
    <logger name="com.blah" level="debug"/>
    <logger name="org.apache.cxf" level="warn"/>

    <logger name="com.javastudio.lms.tutorial" level="INFO" additivity="true">
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="com.javastudio.tutorial" level="INFO" additivity="true">
        <appender-ref ref="FILE"/>
    </logger>

    <!-- Strictly speaking, the level attribute is not necessary since -->
    <!-- the level of the root level is set to DEBUG by default.       -->
    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>